<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vaye.app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".Application.VayeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VayeApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".LoginRegister.SetFakulteActivity"></activity>
        <activity android:name=".LoginRegister.SetTeacherActivity" />
        <activity android:name=".LoginRegister.SetStudentNumber" />
        <activity android:name=".LoginRegister.ChooseSchoolActivity" />
        <activity android:name=".LoginRegister.RegisterActivity" />
        <activity android:name=".Controller.HomeController.SinglePost.SinglePostActivity" />
        <activity android:name=".Controller.MapsController.VayeAppPlacePickerActivity" />
        <activity android:name=".Controller.MapsController.GoogleMapsActivity" />
        <activity android:name=".Controller.MapsController.LocationPermissionActivity" />
        <activity android:name=".Controller.MapsController.LocationPickerActivity" />
        <activity android:name=".Controller.HomeController.SettingController.Settings.PaswordSettingActivity" />
        <activity android:name=".Controller.HomeController.SettingController.Settings.HizmetActivity" />
        <activity android:name=".Controller.HomeController.SettingController.Settings.GizlilikActivity" />
        <activity android:name=".Controller.HomeController.SettingController.Settings.LicencesActivity" />
        <activity android:name=".Controller.HomeController.SingleImageActivity" />
        <activity android:name=".Controller.VayeAppController.VayeAppNewPostActivity" />
        <activity android:name=".Controller.VayeAppController.VayeAppnotificationSettingActivity" />
        <activity android:name=".Controller.HomeController.School.SchoolPostNotificationActivity" />
        <activity android:name=".Controller.HomeController.School.ChooseClupActivity" />
        <activity android:name=".Controller.HomeController.School.NewSchoolPostActivity" />
        <activity android:name=".Controller.Profile.OtherUserProfileActivity" />
        <activity android:name=".Controller.CommentController.ReplyActivity" />
        <activity android:name=".Controller.CommentController.CommentActivity" />
        <activity android:name=".Controller.HomeController.SettingController.SettingActivity" />
        <activity android:name=".Controller.NotificationController.NotificationSetting.NotificationSettingActivity" />
        <activity android:name=".Controller.ReportController.ReportActivity" />
        <activity android:name=".Controller.HomeController.StudentSetNewPost.StudentChooseLessonActivity" />
        <activity android:name=".Controller.HomeController.StudentSetNewPost.StudentNewPostActivity" />
        <activity android:name=".Controller.HomeController.LessonPostEdit.EditPostActivity" />
        <activity android:name=".Controller.HomeController.SetLessons.StudentSetLessonActivity" />
        <activity android:name=".Controller.HomeController.SetLessons.TeacherSetLessonActivity" />
        <activity android:name=".Controller.HomeController.PagerAdapter.AllDatasActivity" />
        <activity android:name=".Controller.Profile.CurrentUserProfile" />
        <activity android:name=".Controller.Profile.EditProfileActivity" />
        <activity
            android:name=".Controller.HomeController.HomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.VayeAppController.VayeAppActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.NotificationController.NotificationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Controller.ChatController.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginRegister.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen.SplashScreen"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".FCM.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Util.DownloadHelper.DownloadService" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/mainColor" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api_key" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>